@using E_commerce.Models
@model USER


@{
    ViewData["Title"] = "changeName";
}

<form method="post" asp-action="changeName"> 
<div class="cart-container">
    <div>
     <h1> <b> Change your name </b></h1>
    </div>
    <div class="container border border-primary p-2">
     <div>
     <p> If you want to change the name associated with your account,
      you may do so below. Be sure to click the <b>Save Changes</b> button when you are done.</p>
    </div>
    <div>
        <label asp-for="Name" class="form-label">  <b> New name </b></label>
       <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
    </div>
</div>
 </form>