@using E_commerce.Models
@model USER


@{
    ViewData["Title"] = "changePhone";
}



<form method="post" asp-action="changePhone"> 
<div class="cart-container">
    <div>
     <h1> <b> Change your phone nmber</b></h1>
    </div>
    <div class="container border border-primary p-2">
     <div>
     <p>  Enter the new phone number you would like to associate with your account below. 
      Be sure to click the <b>Save Changes</b> button when you are done.
      </p>
    </div>
    <div>
        <label asp-for="Phone" class="form-label">  <b>New phone number</b></label>
       <input asp-for="Phone"  class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
    </div>
</div>
</form>
