@using E_commerce.Models
@model ACCOUNT


@{
    ViewData["Title"] = "changeEmail";
}

<form method="post" asp-action="changeEmail"> 
<div class="cart-container">
    <div>
     <h1> <b> Change your email address </b></h1>
    </div>
    <div class="container border border-primary p-2">
     <div>
     <p>  Enter the new email address you would like to associate with your account below. 
      Be sure to click the <b>Save Changes</b> button when you are done.
      </p>
    </div>
    <div>
        <label asp-for="Email" class="form-label">  <b>New email address </b></label>
       <input asp-for="Email"  class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
    </div>
</div>
</form>
