@using E_Commerce.View_Models
@model  E_Commerce.View_Models.S

@{
    ViewData["Title"] = "changePassword";
}

<form method="post" asp-action="changePassword"> 
<div class="cart-container">
    <div>
     <h1> <b> Change password </b></h1>
    </div>
    <div class="container border border-primary p-2">
     <div>
     <p>  To change the password for your account, use this form.</p>
    </div>
    <div>
        <label asp-for="currentPaasword" class="form-label">  <b> Current password </b></label>
       <input asp-for="currentPaasword"  class="form-control" />
    </div>
     <div>
        <label asp-for="newPassword" class="form-label">  <b> New password </b></label>
       <input asp-for="newPassword" class="form-control" />
    </div>
     <div>
        <label asp-for="reenterNewPassword" class="form-label">  <b> Reneter new password </b></label>
       <input  asp-for="reenterNewPassword" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
    </div>
</div>
</form>