@{
    var model = ViewBag.deposit;
    

}
<form method="get">
    <div class="m-auto" style="width:fit-content">
        <div class="row justify-content-center mt-5 mb-5">
            <span class="badge badge-info p-3 display-2" style="font-size:1rem;">
                Current Balance: <span class="badge badge-light">@ViewBag.deposit $</span>
            </span>
        </div>
        <form method="get">
            <label class="text-success h3">How much money?</label>
            <textarea name="add" class="form-control" asp-action="Deposit"></textarea>

        </form>
        <a href="Owner">Haven't added visa/credit card?</a>
        <div class="row justify-content-center mb-5">
            <button name="btn" class="btn btn-success" value="Deposit" asp-action="Deposit" type="submit">Deposit</button>
        </div>


    </div>
</form>