@model IEnumerable<ACCOUNT1>
@{
    ViewData["Title"] = "SignUp";
    var list1 = ViewBag.l1;
    var list2 = ViewBag.l2;

}
<div class="col-md-6 mx-auto">
    <h1>Accounts</h1>
    <br />
    <table class="table text-center">
        <thead class="thead-dark">
            <tr>
                <th>Email: </th>
                <th>Pass: </th>

            </tr>
        </thead>
        <tbody>
@foreach(var acc in list1)
{
            <tr>
                <td>@acc.Id</td>
               

            </tr>

            }
        </tbody>
    </table>
</div>
