

<div class="row justify-content-center mb-5">
    <a class="btn btn-success" asp-controller="Home" asp-action="Signup" role="button">Create New Account</a>
</div>
    <div class="row justify-content-center mb-5">
        <a class="btn btn-success" asp-controller="Home" asp-action="Login" role="button">Login</a>


    </div>
