@model E_commerce.View_Models.Signup

@{
    ViewData["Title"] = "Login";

    var error = ViewBag.messageError;
}

<div class="container" >
    <h1>Login</h1>


    <hr />



    <div class="row col-md-6 offset-3">
        <div class="card card-body bg-light">
            <form asp-action="Login">

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <p style="color:red">@error</p>

                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-controller="Home" asp-action="Signup">Signup</a>
            </div>
        </div>
    </div>

   
       
    
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
